.maple-window {
  display: inline-block;
  border-width: 35px 20px 20px 20px;
  border-style: solid;
  border-image: url("https://maple.pet/css/mac-frame.png") 30 40 22 22 fill repeat;
  border-image-width: 30px 40px 22px 22px;
  color: #000;
  position: relative;
  text-align: left;
  font-size: 12px;
  font-family: geneva, sans-serif;
  min-width: 200px;
}

.maple-window img {
  vertical-align: bottom;
}

.maple-window blockquote, .maple-blockquote, .maple-window .quote {
  margin: 0.2em 0 0.2em 0 !important;
  border-style: solid;
  border-width: 40px 30px 25px 15px;
  border-image: url("https://maple.pet/css/mac-frame-2.png") 44 55 31 19 fill repeat;
  border-image-width: 44px 55px 31px 19px;
  position: relative;
  min-width: 18em;
}
.maple-window blockquote > font.fonts, .maple-window blockquote > span.quotedby, .maple-window .quote .quoteheader {
  position: absolute;
  top: -25px;  
}
.maple-window blockquote > hr {
  display: none;
}

.maple-window a {
  color: #9999cc;
  text-shadow: none;
}
.maple-window a:hover {
  color: #ccccff;
}

.maple-window-title {
  position: absolute;
  top: -31px;
  text-align: center;
  width: 100%;
  left: 0;
}

.maple-window-title > span {
  background: #ccc;
  padding: 1px 5px 1px 5px;
  font-size: 12px;
  font-family: chicago, sans-serif;
  vertical-align: middle;
  margin-right: 20px;
  white-space: nowrap;
}

.maple-bg {
  background: url("https://maple.pet/bg.png");
  padding: 25px;
  min-height: 350px;
}

.maple-button {
  display: inline-block;
  margin: 4px 5px 0 0;
  border-style: solid;
  border-width: 7px;
  border-image: url("https://maple.pet/css/mac-button.png") 7 fill repeat;
  color: #000;
  text-decoration: none;
  font-family: chicago, sans-serif;
  padding: 1px 2px 0 2px;
  text-align: center;
}

.maple-button:link, .maple-button:visited, .maple-button:active, .maple-button:hover {
  color: #000 !important;
  text-decoration: none;
  font-weight: normal;
}

.url3790, [href="profile.php?id=3790"] {
  color: #a631c6 !important;
}
.url3790 {
  background: url('http://maple.pet/avatars/icon.png') no-repeat;
  padding-left: 20px;
  height: 16px;
}
